@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* 화면 초기화 */
* {
	margin: 0px;
	padding: 0px;
}
ul,ol,li {
	list-style: none;
}
a {
	text-decoration: none;
}
/* 전체 풀 스크린 레이아웃 */
.wrap {
	width : 100%;
	height : 100vh;
	overflow: hidden;
	position : relative;
	box-sizing : border-box;
	background : linear-gradient(45deg, #ac8bef, #2ddbdc);
}
	/* 구글웹 폰트로 roboto와 orbitron 폰트를 연결합니다. 그다음전체 요소의 기본간격과목록
태그의 꾸밈 효과등을없애서 CSS를초기화한뒤 .wrap에 너비와높이를각각 100%, 100vh로
지정해 풀 스크린으로 만들고 배경색에 그러데이션 색상을 지정합니다. */

/* 제목 */
.wrap h1 {
  font-weight: normal;
  font-size: 24px;
  font-family: "Orbitron";
  color: #fff;
  letter-spacing: 1px; /* 'px' 단위와 '1' 사이에 공백이 있으면 안 됩니다 */
  position: absolute;
  left: 50px; /* '50 px'에서 공백 제거 */
  top: 70px;  /* '70 px'에서 공백 제거 */
}
.wrap h1 span {
  opacity: 0.8;
}

/* 자동 재생 버튼 */
.wrap .auto {
  position: absolute;
  bottom: 60px;
  left: 60px; /* '60 px'에서 공백 제거 */
  z-index: 20;
}
.wrap .auto li {
  float: left;
  margin-right: 20px; /* '20 px'에서 공백 제거 */
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  opacity: 0.9;
  transition: all 0.5s;
}

.wrap .auto li:hover { /* 마우스 호버 시 진해지면서 1.4 배 확대 */
  opacity: 1;
  transform: scale(1.4); /* 'seale' -> 'scale', 오타 수정 */
}


/* hl 요소를선택해서 웹 폰트 orbitron을지정하고크기와색상을설정합니다. 
이후 absolute를이용해화면왼쪽상단부분에 위치시킵니다. 
hl의 자식인 span 요소의 투명도를 0.8로설정해 약간투명하게 만듭니다. 
이제 자동슬라이딩 버튼인 ul.auto는
화면 왼쪽하단에 마찬가지로 absolute를 이용해 배치하고, 
각 li를 좌우에 배치한 뒤 크기와 색상을 입력합니다.
이때 :hover 문을이용하여 transform: scale(l.4) 로약간확대되도록만들고,원본인 li 요소에 transition을 적용해 전환 효과를 설정합니다.
*/



/*
Swiper 플러그인은 2단계에서 <head> 부분에 전용 CSS 파일을 연결했듯이 
여기서 지정한 클래스이름을통해 기본적인 레이아웃이 자동생성됩니다.그러므로위의 클래스이름을반드시 지켜서 사용해야합니다.
*/

/* 기본 슬라이드 프레임 */
.wrap .swiper-wrapper {
  width : 100%;
  height : 100%;
  }
  .wrap .swiper-wrapper .swiper-slide {
  width : 500px;
  height : 500px;
  position : relative;
  top : 50%;
  margin-top : -230px;
  }
  .wrap .swiper-wrapper .swiper-slide .inner {
  width : 100%;
  height : 100%;
  background : #fff;
  padding : 30px;
  box-sizing : border-box;
  opacity: 0.4;
  transition : 1s;
  }
  /* 
  .wrap .swiper-wrapper의 너비와 높이 모두 100距김 지정하고, 
  각 슬라이드 패널로 사용할 .swiper-slide는 500px로 지정합니다. 
  그리고 위치는 세로 중앙에서 살짝 아래로 내려가도록 
  position: relative를 적용하고 top을 50%, margin-top을 -230px로 선정합니다. 
  자식인 .inner는 부모인 .swiper-slide의 크기를 100%로 적용받고 배경색을 흰색으로 지정합니다.
  그리고 box-sizing: border-box를 적용한 뒤 반투명하게 설정합니다. 마지막으로 transition을 1 초로적용해서 앞으로슬라이드될 때 약간의 사용자정의 모션을추가하겠습니다.
  플러그인이 연결이 되어야자바스크립트가나머지 레이아웃을잡아주므로다시 index.html  파일로돌아가서 하단부분에 Swiper 플러그인의 호출구문을연결하겠습니다.

  플러그인의 호출 구문을 확인하기 위해 다시 플러그인 사이트로 이동해서 [Get Started] 메뉴에 서 [Initialize Swiper] 아래 의 호출 구문을 복사합니 다.
  */


/* 좌우 버튼과 페이지네이션 스타일 변경하기 */
.wrap .swiper-button-prev {
  left: auto;
  right: 100px;
  top: auto;
  bottom: 50px;
  filter: grayscale(100%) brightness(3); /*버튼 색을 흰색으로 변경*/
  transform: scale(0.5);
}

.wrap .swiper-button-next {
  left: auto;
  right: 60px;
  top: auto;
  bottom: 50px;
  filter: grayscale(100%) brightness(3); /*버튼 색을 흰색으로 변경*/
  transform : scale(0.5);
}

.swiper-pagination-fraction {
  bottom: auto;
  top: 50px;
  left: auto;
  right: 50px;
  width: auto;
  font-size: 16px;
  font-family: "orbitron";
  letter-spacing: 1px;
  color: #eee;
}

.swiper-pagination-fraction span:nth-of-type(1) {
  font-size: 30px;
  color: #fff;
}
